<% provide(:title, @user.username) %>

<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>


<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      
       <h1> Hi <%= @user.username %>! </h1><br>
       <%= link_to '<button type="button">Create Collection</button>'.html_safe, new_collection_path %>
       <br><br>

       <%= link_to '<button type="button"> Browse Collections </button>'.html_safe, collections_path %>
       <br><br>

       <%= link_to '<button type="button">Browse Flashcards</button>'.html_safe, flashcards_path %>
       <br><br>

       <ul>
       <% @user.collections.each do |collection| %>
          <li><%= link_to collection.name, collection_path(collection) %><br> 
        <% end %>
        </ul>
      </h1>
    </section>
  </aside>
</div>

