<% provide(:title, @user.username) %>

<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>


<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      
       <h1> Hi <%= @user.username %>! </h1>
       <%= link_to '<button type="button">Create New Collection</button>'.html_safe, new_collection_path %>

       <%= link_to '<button type="button"> View Everyone\'s collections </button>'.html_safe, collections_path %>

       <%= link_to '<button type="button">View List of All Flashcards</button>'.html_safe, flashcards_path %>

       <h1> These are your current collections:
       <ul>
       <% @user.collections.each do |collection| %>
          <li><%= link_to collection.name, collection_path(collection) %><br> 
        <% end %>
        </ul>
      </h1>
    </section>
  </aside>
</div>

